# Dependencies & Virtual Envs
node_modules/
.venv/
venv/
vendor/
wheels/
backend/wheels/

# Databases & Local state
*.sqlite3
db.sqlite3
.gemini/
.DS_Store

# Environment files
.env
.env.local
!.env.example